---
layout: page
title: اعضاء فريق مجتمع الشرقية للبيانات
permalink: /team/
members: [najla, ali, areej, Abdulelah, ghaidaa, abdullah, abdulmalik, najwa, hadeel]
---
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div id="names">
    {% for m in page.members %}
    {% assign member = site.data.team[m] %}
    <div id="name-box">
        <div id="name-info">
            <div id="member-name">{{ member.display_name }}</div>
            <div id="social-member">
                {% if member.social.linkedin %} <a href="https://www.linkedin.com/in/{{ author.social.linkedin }}" ><i class="fa fa-linkedin-square fa"></i></a> {% endif %}
                {% if member.social.github %} <a href="https://github.com/{{ member.social.github }}" ><i class="fa fa-github-square fa"></i></a> {% endif %}
                {% if member.social.twitter %} <a href="https://twitter.com/{{ member.social.twitter }}" ><i class="fa fa-twitter-square fa"></i></a> {% endif %}
                {% if member.social.email %} <a href="mailto:{{ member.social.email }}" ><i class="fa fa-envelope-square fa"></i></a> {% endif %}
                {% if amember.social.website %} <a href="{{ member.social.website }}" ><i class="fa fa-external-link-square fa"></i></a> {% endif %}
            </div>
            <div id="about-member">{{ member.about }}</div>
        </div>
            {% if member.gravatar %}
        <div id="member-image-box">
            <img itemprop="image" id="image-member" src="{{ site.baseurl }}/images/authors/{{ member.gravatar }}">
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
