<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<div class="w3-card-2">
    <div id="author-content">
        {% if page.author %}
            {% if page.author.size == 1 %}
                {% for b in page.author %}
                    {% if {{site.data.authors[b].gender}} == "F" %}
                        <h2>الكاتبة</h2>
                    {% else %}
                        <h2>الكاتب</h2>
                    {% endif %}
                {% endfor %}
            {% else %}
                <h2>الكُتَّاب</h2>
            {% endif %}
        <hr id="author-hr">
        {% for a in page.author %}
        {% assign author = site.data.authors[a] %}
        <div id="author-box">
        <div id="author-info">
            <div itemprop="author" id="name-author"><strong>{{ author.display_name }}</strong></div>
            <div id="social-author">
                {% if author.social.linkedin %} <a href="{{ author.social.linkedin }}" ><i class="fa fa-linkedin-square fa"></i></a> {% endif %}
                {% if author.social.github %} <a href="{{ author.social.github }}" ><i class="fa fa-github-square fa"></i></a> {% endif %}
                {% if author.social.twitter %} <a href="{{ author.social.twitter }}" ><i class="fa fa-twitter-square fa"></i></a> {% endif %}
                {% if author.social.email %} <a href="{{ author.social.email }}" ><i class="fa fa-envelope-square fa"></i></a> {% endif %}
                {% if author.social.website %} <a href="{{ author.social.website }}" ><i class="fa fa-external-link-square fa"></i></a> {% endif %}
            </div>
            <div id="about-author">{{ author.about }}</div>
        </div>
            {% if author.gravatar %}
            <div id="author-image-box">
                <img itemprop="image" id="image-author" src="{{ site.baseurl }}/images/authors/{{ author.gravatar }}">
            </div>
            {% endif %}
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
