<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
{% if page.author %}
{% for a in page.author %}
{% assign author = site.data.authors[a] %}
{% if {{author.gender}} == "F" %}
<h1>الكاتبة</h1>
{% else %}
<h1>الكاتب</h1>
{% endif %}
<div class="w3-card-2">
    <div id="author-content-page">
            <div id="author-box">
                <div id="author-page-info">
                    <div itemprop="author" id="name-author">
                        <h2 id="author-name">{{ author.display_name }}</h2>
                    </div>
                    <div id="social-author">
                        <strong>تواصل: </strong>
                        {% if author.social.linkedin %} <a target="_blank" href="https://www.linkedin.com/in/{{ author.social.linkedin }}" ><i class="fa fa-linkedin-square fa"></i></a> {% endif %}
                        {% if author.social.github %} <a target="_blank" href="https://github.com/{{ author.social.github }}" ><i class="fa fa-github-square fa"></i></a> {% endif %}
                        {% if author.social.twitter %} <a target="_blank" href="https://twitter.com/{{ author.social.twitter }}" ><i class="fa fa-twitter-square fa"></i></a> {% endif %}
                        {% if author.social.email %} <a target="_blank" href="mailto:{{ author.social.email }}" ><i class="fa fa-envelope-square fa"></i></a> {% endif %}
                        {% if author.social.website %} <a target="_blank" href="{{ author.social.website }}" ><i class="fa fa-external-link-square fa"></i></a> {% endif %}
                    </div>
                    <div id="about-author">{{ author.about }}</div>
                </div>
                {% if author.gravatar %}
                    <div id="author-page-image-box">
                        <img itemprop="image" id="image-page-author" src="{{ site.baseurl }}/images/authors/{{ author.gravatar }}">
                    </div>
                {% endif %}
            </div>
            {% endfor %}
            {% assign posts = site.posts | where: "author", page.author %}
            
            <h2>المقالات:</h2>
            <div class="tags">
            {% for post in posts %}
                <li>
                <a href="{{ site.baseurl }}{{ post.url }}"> {{post.title}} </a>
                </li>
            {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
