<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="w3-card-2">
    <div id="author-content">
        {% if page.author %}
            {% for a in page.author %}
            {% assign author = site.data.authors[a] %}
            <div id="author-box">
                <div id="author-page-info">
                    <div itemprop="author" id="name-author">
                        <h2>{{ author.display_name }}</h2>
                    </div>
                    <div id="social-author">
                        <strong>تواصل: </strong>
                        {% if author.social.linkedin %} <a href="{{ author.social.linkedin }}" ><i class="fa fa-linkedin-square fa"></i></a> {% endif %}
                        {% if author.social.github %} <a href="{{ author.social.github }}" ><i class="fa fa-github-square fa"></i></a> {% endif %}
                        {% if author.social.twitter %} <a href="{{ author.social.twitter }}" ><i class="fa fa-twitter-square fa"></i></a> {% endif %}
                        {% if author.social.email %} <a href="{{ author.social.email }}" ><i class="fa fa-envelope-square fa"></i></a> {% endif %}
                        {% if author.social.website %} <a href="{{ author.social.website }}" ><i class="fa fa-external-link-square fa"></i></a> {% endif %}
                    </div>
                </div>
                {% if author.gravatar %}
                    <div id="author-page-image-box">
                        <img itemprop="image" id="image-page-author" src="{{ site.baseurl }}/images/authors/{{ author.gravatar }}">
                    </div>
                {% endif %}
            </div>
            <div id="about-author">{{ author.about }}</div>
            {% endfor %}
            {% assign posts = site.posts | where: "author", page.author %}
            
            <br><h2>مقالات {{site.data.authors[page.author].display_name}}:</h2>
            <div class="tags">
            {% for post in posts %}
                <ul class="tag">
                •  <a href="{{ site.baseurl }}{{ post.url }}"> {{post.title}} </a>
                </ul>
            {% endfor %}
            </div>
        {% endif %}
    </div>
</div>