<link rel="stylesheet" href="https://fontawesome.com/v4.7.0/assets/font-awesome/css/font-awesome.css">

<div class="w3-card-2">
<div id="author-content">
    <h3>الكاتب</h3>
    <hr>
        {% assign author = site.data.authors[page.author] %}
        <div itemprop="author" id="name-author"><strong>{{ author.display_name }}</strong></div>
        {% if author %}
            <a href="{{ author.web }}">{{ author.name }}</a>
            <img itemprop="image" id="image-author" src="{{ site.baseurl }}/images/authors/{{ author.gravatar }}">
            <div id="about-author">{{ author.about }}</div>
            {% comment %} {% assign socials = site.data.authors[page.author.social] %} {% endcomment %}
            {% for auth in site.data.authors[page.author] %}
            {% comment %} <div id="social-author">
                <a href="{{ author.facebook }}" ><i class=""></i></a>
                <a href="{{ author.linkedin }}" ><i class=""></i></a>
                <a href="{{ author.twitter }}" ><i class=""></i></a>
                <a href="{{ author.github }}" ><i class=""></i></a>
                <a href="{{ author.email }}" ><i class=""></i></a>
                <a href="{{ author.website }}" ><i class=""></i></a>
            </div> {% endcomment %}
                {% for social_site in site.data.social[auth.social] %}
                <li>social_site</li>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>
</div>