<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include footer.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>

<!-- search script -->
<script src="https://raw.githubusercontent.com/DataMcFly/jquery.camelhunter/master/jquery.camelhunter.min.js"></script>
<script type="text/javascript">
	$("#search-field").camelHunter({
		onKeyUp 			: true,
		rss: "/sitemap.xml",
		results   : "#results"
	});
</script>